.main {
  display: flex;
  justify-content: space-around;
  height: calc(88vh + 3px);
}

.main-filter {
  display: block;
}

.main-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.main-section-article-image {
  width: 260px;
  height: 182px;
}

.main-filter-ul {
  list-style: none;
}
.main-filter-ul-li a {
  text-decoration: none;
}
.footer {
  flex-direction: row;
}

.footer-link {
  margin-left: 2rem;
  margin-right: 2rem;
}
