::root {
  --fondo-header: #100217;
  --texto-header: #fafafa;
  --gris-claro: #e4e8ee;
  --color-texto: #030b1c;
  --font-family-roboto: Roboto;
  --font-style-normal: normal;
  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --font-size-16: 16px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --character-spacing-0-32: 0.32px;
  --character-spacing-0-4: 0.4px;
  --character-spacing-0-48: 0.48px;
  --line-spacing-19: 19px;
  --line-spacing-22: 22px;
  --line-spacing-24: 24px;
  --line-spacing-29: 29px;
  --text-transform-uppercase: uppercase;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-roboto);
  margin: 0;
}

.header {
  position: relative;
  display: flex;
  width: 100%;
  height: 69px;
  background-color: #100217;
}

.header-seccion {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.header-seccion-image {
  width: 26.69;
  height: 23.75px;
  filter: invert(100%);
}

.header-seccion-image-logo {
  width: 110.84px;
  height: 20.26px;
}

.header-seccion-image--none {
  display: none;
}
.header-navbar {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 70px;
  left: 0;
  background-color: var(--gris-claro);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: 50px;
  line-height: var(--line-spacing-24);
  letter-spacing: var(--character-spacing-0-4);
  color: var(--texto-header);
  text-transform: var(--text-transform-uppercase);
}
.header-navbar {
  display: none;
  background-color: #ced9e9;
}
.header-navbar-ul {
  width: 100%;
}

.header-navbar-ul-li {
  width: 100%;
}

.header-navbar-ul-li:hover {
  background-color: #88a2db;
}

.header-navbar-ul-li a {
  width: 100vw;
  text-decoration: none;
  color: var(--texto-header);
}

.header-navbar--show {
  display: block;
}

.main-title {
  font-style: var(--font-style-normal);
  font-weight: bold;
  font-size: 24px;
  line-height: var(--line-spacing-29);
  letter-spacing: var(--character-spacing-0-48);
  color: var(---color-texto);
  border-bottom: 1px solid black;
}

.main-filter {
  display: none;
}
.main-section-article-image {
  width: 100vw;
  max-width: 320px;
}

.header-seccion-image {
  cursor: pointer;
}
.main-section-article-title {
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-16);
  line-height: var(--line-spacing-19);
  letter-spacing: var(--character-spacing-0-32);
  color: var(--color-texto);
  border-top: 1px solid black;
}
.main-section-article-price {
  font-style: var(--font-style-normal);
  font-weight: bold;
  font-size: var(--font-size-20);
  line-height: var(--line-spacing-24);
  letter-spacing: var(--character-spacing-0-4);
  color: var(--color-texto);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #24182b;
}

.footer-link {
  text-decoration: none;
  color: white;
  margin: 0.5rem;
}
.texto {
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-16);
  line-height: var(--line-spacing-22);
  letter-spacing: var(--character-spacing-0-32);
  color: var(--color-texto);
}
